<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary float-right m-2"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  (click)="addClick()"
  data-backdrop="static"
  data-keyboard="false"
>
  Ajouter un sujet
</button>

<!-- Modal -->

<div
  class=""
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-suj [suj]="suj" *ngIf="ActivateAddEditSujComp">
        </app-add-edit-suj>
      </div>
    </div>
  </div>
</div>
<!-- ///////////// -->

<!-- ///////////// -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>id Sujet</th>
      <th>Nom Sujet</th>
      <th>Description Sujet</th>
      <th>Difficulté</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of SujetsList">
      <td>{{ dataItem.id }}</td>
      <td>{{ dataItem.nom }}</td>
      <td>{{ dataItem.description }}</td>
      <td>{{ dataItem.difficulte }}</td>
      <td>
        <button
          type="button"
          class="btn btn-light mr-1"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="updateClick(dataItem)"
          data-backdrop="static"
          data-keyboard="false"
        >
          <i class="material-icons">edit</i>
        </button>
        <button
          type="button"
          class="btn btn-light mr-1"
          (click)="deleteClick(dataItem)"
        >
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
